/node_modules
/source/**/node_modules
/.idea
/build
/source/shared/locales/*.json
.DS_Store
*npm-debug.log
database*.json
.eslintcache
*.env
*.swp
*.swo
*.orig
.tern-port
.vagrant
*.zip
*.log
*.crt
*.py
/coverage
/docs
.tern-port
debug.log
yarn.lock
.vscode
.github
package.json
package-lock.json
README.md